<?xml version="1.0"?>
<launch>

  <param name= "robot_description" command="$(find xacro)/xacro --inorder $(find rover)/urdf/rover.urdf.xacro"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x 0 -y 0 -z 0 -param robot_description -urdf -model rover" />

  <rosparam command="load" file="$(find rover)/config/arm_control.yaml" />

  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <rosparam command="load" file="$(find rover)/config/joint_state_controller.yaml" />

  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
